// You can add CSS rules here that will be inlucded in Hydejack's CSS file
pre,
code {

    background-color: rgb(9, 9, 82);
    color: white;
    margin-top:0;
    margin-bottom:0;
    border-radius: 20px;
}



