// You can add CSS rules here that will be inlucded in Hydejack's CSS file
*{
    margin:0;
}
pre {
    background-color: rgb(209, 133, 169);
    border-radius: 20px;
    color: white;
    margin-left:0;
    margin-bottom:0;
}